.repository-card {
  background: #5c1e7c;
  width: 320px;
  height: 120px;
  border: 3px solid #a552ce;
  border-radius: 10px;
  text-align: center;
  color: snow;
  margin-top: 1rem;
}

.repositoryCard-title {
  padding-top: 1rem;
  font-size: 1.2em;
  padding-bottom: 1rem;
}
